<div class="h-headerbgshort bg-cover bg-center bg-coffee-shop-bg">
    <div class="text-center text-white py-10">
        {% include "@page-title-header" %}
        {% include "@tagline" %}
    </div>
</div>
