<div class="h-headerbg bg-cover bg-center bg-coffee-shop-bg">
    <div class="text-center text-white py-10">
        <h2 class="text-6xl"><span class="font-script">Crafty</span> <span>Coffee</span></h2>
        <p class="text-xl">{{ tagline }}</p>
        <div class="my-10">
            {% include '@button' with { label: "See Our Drinks"} %}
            {% include '@button' with { label: "Make Our Drinks"} %}
        </div>
    </div>
</div>
