{% extends "inc/_layout.twig" %}
{% block main %}
    {% include '@navigation' %}
    {% include '@image-internal-bg-header' with { pageTitle: 'Spilling the Beans' } %}
    <main>
        {% for post in 1..4 %}
        <div class="flex items-center justify-center">
            <article class="prose lg:prose-md my-10">
               <a href="">{% include "@article-title" with { text: 'Another article title longer' } %}</a> 
                {% include "@article-byline" with { text: 'Ryan Irelan'} %}
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam ad nisi libero, eligendi quae iste, nam excepturi necessitatibus minus commodi hic quam tempora temporibus sit corrupti nobis vel aspernatur. Iusto?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ipsam pariatur laborum ipsa debitis. Facilis eveniet repellendus minima? Officia, excepturi veritatis tempora nihil alias quis ab rerum ipsa id maxime! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas iure, cum vitae officiis explicabo suscipit tempore, est deserunt esse ab maxime rerum. Minima est aliquid mollitia hic rerum nostrum quidem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque vel consequatur eaque quia fugit a esse illum itaque rerum ducimus tenetur assumenda commodi praesentium maxime veritatis id veniam, porro eius.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam ad nisi libero, eligendi quae iste, nam excepturi necessitatibus minus commodi hic quam tempora temporibus sit corrupti nobis vel aspernatur. Iusto?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ipsam pariatur laborum ipsa debitis. Facilis eveniet repellendus minima? Officia, excepturi veritatis tempora nihil alias quis ab rerum ipsa id maxime! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas iure, cum vitae officiis explicabo suscipit tempore, est deserunt esse ab maxime rerum. Minima est aliquid mollitia hic rerum nostrum quidem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque vel consequatur eaque quia fugit a esse illum itaque rerum ducimus tenetur assumenda commodi praesentium maxime veritatis id veniam, porro eius.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam ad nisi libero, eligendi quae iste, nam excepturi necessitatibus minus commodi hic quam tempora temporibus sit corrupti nobis vel aspernatur. Iusto?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ipsam pariatur laborum ipsa debitis. Facilis eveniet repellendus minima? Officia, excepturi veritatis tempora nihil alias quis ab rerum ipsa id maxime! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas iure, cum vitae officiis explicabo suscipit tempore, est deserunt esse ab maxime rerum. Minima est aliquid mollitia hic rerum nostrum quidem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque vel consequatur eaque quia fugit a esse illum itaque rerum ducimus tenetur assumenda commodi praesentium maxime veritatis id veniam, porro eius.</p>
            </article>
        </div>
        {% endfor %}
    </main>
    {% include "@footer" %}
{% endblock %}
