

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crafty Coffee</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700|Fauna+One|Pacifico|Merriweather+Sans:400,700' rel='stylesheet'
    type='text/css'>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="h-headerbg bg-cover bg-center bg-coffee-shop-bg">
    <div class="text-center text-white py-10">
        <h2 class="text-6xl"><span class="font-script">Crafty</span> <span>Coffee</span></h2>
        <p class="text-xl">If we wrote it down, you can make it at home.</p>
        <div class="my-10">
            <a class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" href="#">See Our Drinks</a>            <a class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" href="#">Make Our Drinks</a>        </div>
    </div>
</div>

</body>
</html>
